In [1]:
import pandas as pd

In [2]:
import os
import matplotlib.pyplot as plt
import time

parentDirectory = os.path.abspath(os.path.join(os.path.join(os.getcwd(), os.pardir), os.pardir))
DATA_DIR = parentDirectory +'/data/'
FIGURES_DIR = parentDirectory +'/figures/'

In [3]:
df_codes = pd.read_csv(DATA_DIR+"country_codes_filtered.csv")

In [4]:
selected_codes = ['FR','DE','US','IT','CA','GB','ES','AU','NG','KE','JP','MX','BR','IN','DK']

In [5]:
dict_queries =  [{'kg_id' : '/m/0p57p', 'name' : 'Recipe', 'type' : 'Mode 1'},
     {'kg_id' : '/m/0dv34', 'name' : 'Baking', 'type' : 'Mode 1'},
     {'kg_id' : '/m/01mtb', 'name' : 'Cooking', 'type' : 'Mode 1'},
     {'kg_id' : '/m/01jpn4', 'name' : 'Grocery store', 'type' : 'Mode 1'},
     {'kg_id' : '/m/0dnkv', 'name' : 'Supermarket', 'type' : 'Mode 1'},
     {'kg_id' : '/g/1224tf85', 'name' : 'Food delivery', 'type' : 'Mode 2'},
     {'kg_id' : '/m/01w53b', 'name' : 'Take-out', 'type' : 'Mode 2'},
     {'kg_id' : '/m/01t40w', 'name' : 'Drive-in', 'type' : 'Mode 2'},
     {'kg_id' : '/m/06l8d', 'name' : 'Restaurant', 'type' : 'Mode 3'},
     {'kg_id' : '/m/02pdnx', 'name' : 'Cafeteria', 'type' : 'Mode 3'},
     {'kg_id' : '/m/01nq30', 'name' : 'Diner', 'type' : 'Mode 3'},
     {'kg_id' : '/m/020fb2', 'name' : 'Cafe', 'type' : 'Mode 3'},
     {'kg_id' : '/m/01kt56', 'name' : 'Picnic', 'type' : 'Mode 4'},
     {'kg_id' : '/m/0983v', 'name' : 'Barbecue', 'type' : 'Mode 4'},
     {'kg_id' : '/m/052qxz', 'name' : 'Food festival', 'type' : 'Mode 3'},
     {'kg_id' : '/m/02lfqj', 'name' : 'Lunchbox', 'type' : 'Mode 4'}]

In [6]:
df_query = pd.DataFrame(dict_queries)
df_query.head(20)

          kg_id           name    type
0      /m/0p57p         Recipe  Mode 1
1      /m/0dv34         Baking  Mode 1
2      /m/01mtb        Cooking  Mode 1
3     /m/01jpn4  Grocery store  Mode 1
4      /m/0dnkv    Supermarket  Mode 1
5   /g/1224tf85  Food delivery  Mode 2
6     /m/01w53b       Take-out  Mode 2
7     /m/01t40w       Drive-in  Mode 2
8      /m/06l8d     Restaurant  Mode 3
9     /m/02pdnx      Cafeteria  Mode 3
10    /m/01nq30          Diner  Mode 3
11    /m/020fb2           Cafe  Mode 3
12    /m/01kt56         Picnic  Mode 4
13     /m/0983v       Barbecue  Mode 4
14    /m/052qxz  Food festival  Mode 3
15    /m/02lfqj       Lunchbox  Mode 4

In [15]:
list_entries = []

for country_code in selected_codes:
    print(country_code)
    for name, row in df_query.iterrows():
        name = row['name']
        kg_id = row['kg_id']
        if os.path.exists("results_modes/{}_{}.tsv".format(country_code, name)):
            try:
                entry = {}
                entry["country_code"] = country_code
                entry["name"] = name
                entry["mid"] = kg_id
                entry["category"] = row['type']
                entry["ts"] = pd.read_csv("results_modes/{}_{}.tsv".format(country_code, name)).set_index('date').to_dict()

                list_entries.append(entry)
            except KeyError as e:
                continue

FR
DE
US
IT
CA
GB
ES
AU
NG
KE
JP
MX
BR
IN
DK

In [16]:
df = pd.DataFrame(list_entries)

In [17]:
len(df)

239

In [19]:
df

,country_code,name,mid,category,ts
0,FR,Recipe,/m/0p57p,Mode 1,{'max_ratio': {'2019-01-06': 2014.120062354311...
1,FR,Baking,/m/0dv34,Mode 1,{'max_ratio': {'2019-01-06': 333.3592494314424...
2,FR,Cooking,/m/01mtb,Mode 1,"{'max_ratio': {'2019-01-06': 380.98199935022, ..."
3,FR,Grocery store,/m/01jpn4,Mode 1,{'max_ratio': {'2019-01-06': 8.434547908232119...
4,FR,Supermarket,/m/0dnkv,Mode 1,{'max_ratio': {'2019-01-06': 49.06493371142087...
...,...,...,...,...,...
234,DK,Cafe,/m/020fb2,Mode 3,{'max_ratio': {'2019-01-06': 31.89493433395873...
235,DK,Picnic,/m/01kt56,Mode 4,{'max_ratio': {'2019-01-06': 0.292682926829268...
236,DK,Barbecue,/m/0983v,Mode 4,{'max_ratio': {'2019-01-06': 2.700348432055750...
237,DK,Food festival,/m/052qxz,Mode 3,"{'max_ratio': {'2019-01-06': 0.0, '2019-01-13'..."
238,DK,Lunchbox,/m/02lfqj,Mode 4,{'max_ratio': {'2019-01-06': 2.759948652118101...

In [20]:
df.to_parquet(DATA_DIR+'modes_fine.parquet')

### Generate aggregated dataframe

In [21]:
categories = list(df['category'].unique())
len(categories)

4

In [22]:
entry_list = []

for country_code in selected_codes:
    for category in categories:
        entry = {}
        
        df_temp = df.loc[(df['country_code']==country_code) & (df['category']==category)]
        entry['country'] = country_code
        entry['category'] = category
        
        entry['volume_total'] = df_temp['ts'].apply(lambda x: pd.Series(x['max_ratio'])).sum()
        entry['volume_total_l'] = df_temp['ts'].apply(lambda x: pd.Series(x['max_ratio_lo'])).sum()
        entry['volume_total_h'] = df_temp['ts'].apply(lambda x: pd.Series(x['max_ratio_hi'])).sum()
        
        entry_list.append(entry)

In [23]:
df_agg = pd.DataFrame(entry_list)

In [24]:
df_agg

,country,category,volume_total,volume_total_l,volume_total_h
0,FR,Mode 1,2019-01-06 2785.960793 2019-01-13 2773.5...,2019-01-06 2458.715557 2019-01-13 2448.5...,2019-01-06 3160.899878 2019-01-13 3145.9...
1,FR,Mode 2,2019-01-06 3.640363 2019-01-13 3.91838...,2019-01-06 3.399005 2019-01-13 3.66225...,2019-01-06 3.920400 2019-01-13 4.19104...
2,FR,Mode 3,2019-01-06 1422.335594 2019-01-13 1525.7...,2019-01-06 1257.986565 2019-01-13 1350.5...,2019-01-06 1610.285529 2019-01-13 1726.1...
3,FR,Mode 4,2019-01-06 10.452691 2019-01-13 12.73262...,2019-01-06 8.503778 2019-01-13 10.65624...,2019-01-06 12.645970 2019-01-13 15.06377...
4,DE,Mode 1,2019-01-06 639.344263 2019-01-13 624.6...,2019-01-06 577.355549 2019-01-13 563.9...,2019-01-06 708.781324 2019-01-13 692.6...
5,DE,Mode 2,2019-01-06 5.845501 2019-01-13 5.93010...,2019-01-06 5.458692 2019-01-13 5.54840...,2019-01-06 6.257302 2019-01-13 6.33646...
6,DE,Mode 3,2019-01-06 482.106699 2019-01-13 497.390...,2019-01-06 435.653090 2019-01-13 449.706...,2019-01-06 534.205604 2019-01-13 550.841...
7,DE,Mode 4,2019-01-06 6.968641 2019-01-13 8.01393...,2019-01-06 6.452518 2019-01-13 7.45810...,2019-01-06 7.519291 2019-01-13 8.60641...
8,US,Mode 1,2019-01-06 1024.325276 2019-01-13 1035.2...,2019-01-06 919.558903 2019-01-13 929.4...,2019-01-06 1142.404042 2019-01-13 1154.4...
9,US,Mode 2,2019-01-06 28.183634 2019-01-13 26.82762...,2019-01-06 26.311899 2019-01-13 25.01567...,2019-01-06 30.207382 2019-01-13 28.78782...
10,US,Mode 3,2019-01-06 700.676756 2019-01-13 699.317...,2019-01-06 631.424154 2019-01-13 630.166...,2019-01-06 778.562137 2019-01-13 777.091...
11,US,Mode 4,2019-01-06 71.821822 2019-01-13 73.35390...,2019-01-06 66.192107 2019-01-13 67.61455...,2019-01-06 77.991383 2019-01-13 79.64312...
12,IT,Mode 1,2019-01-06 866.469399 2019-01-13 842.1...,2019-01-06 774.697268 2019-01-13 752.7...,2019-01-06 970.401484 2019-01-13 943.5...
13,IT,Mode 2,2019-01-06 24.724941 2019-01-13 29.92697...,2019-01-06 22.124469 2019-01-13 27.08380...,2019-01-06 27.595398 2019-01-13 33.05595...
14,IT,Mode 3,2019-01-06 709.337499 2019-01-13 768.938...,2019-01-06 632.396519 2019-01-13 686.536...,2019-01-06 796.691607 2019-01-13 862.400...
15,IT,Mode 4,2019-01-06 14.489438 2019-01-13 14.59838...,2019-01-06 13.257144 2019-01-13 13.33967...,2019-01-06 15.827561 2019-01-13 15.96573...
16,CA,Mode 1,2019-01-06 947.415327 2019-01-13 951.5...,2019-01-06 853.705882 2019-01-13 857.6...,2019-01-06 1053.191284 2019-01-13 1057.5...
17,CA,Mode 2,2019-01-06 17.097517 2019-01-13 14.38430...,2019-01-06 15.849656 2019-01-13 13.28283...,2019-01-06 18.459019 2019-01-13 15.58716...
18,CA,Mode 3,2019-01-06 491.896929 2019-01-13 495.109...,2019-01-06 441.875061 2019-01-13 444.873...,2019-01-06 548.583301 2019-01-13 552.029...
19,CA,Mode 4,2019-01-06 38.451278 2019-01-13 34.39928...,2019-01-06 34.941987 2019-01-13 31.16066...,2019-01-06 42.349841 2019-01-13 38.00107...
20,GB,Mode 1,2019-01-06 791.136860 2019-01-13 778.1...,2019-01-06 707.297678 2019-01-13 695.4...,2019-01-06 885.794265 2019-01-13 871.5...
21,GB,Mode 2,2019-01-06 59.873631 2019-01-13 61.345...,2019-01-06 54.508591 2019-01-13 55.880...,2019-01-06 65.785395 2019-01-13 67.366...
22,GB,Mode 3,2019-01-06 421.370385 2019-01-13 421.909...,2019-01-06 379.691769 2019-01-13 380.255...,2019-01-06 468.193852 2019-01-13 468.704...
23,GB,Mode 4,2019-01-06 35.746854 2019-01-13 30.55071...,2019-01-06 32.073919 2019-01-13 27.24001...,2019-01-06 39.825236 2019-01-13 34.23397...
24,ES,Mode 1,2019-01-06 1102.979147 2019-01-13 1120.8...,2019-01-06 975.474300 2019-01-13 991.1...,2019-01-06 1249.141165 2019-01-13 1269.4...
25,ES,Mode 2,2019-01-06 17.177565 2019-01-13 11.56301...,2019-01-06 16.034399 2019-01-13 10.75779...,2019-01-06 18.415750 2019-01-13 12.44350...
26,ES,Mode 3,2019-01-06 1389.639558 2019-01-13 1379.2...,2019-01-06 1233.369674 2019-01-13 1224.5...,2019-01-06 1568.410471 2019-01-13 1556.2...
27,ES,Mode 4,2019-01-06 16.673985 2019-01-13 17.47495...,2019-01-06 15.662985 2019-01-13 16.40687...,2019-01-06 17.760311 2019-01-13 18.62330...
28,AU,Mode 1,2019-01-06 834.267876 2019-01-13 778.2...,2019-01-06 753.795473 2019-01-13 702.4...,2019-01-06 924.398099 2019-01-13 863.0...
29,AU,Mode 2,2019-01-06 45.359576 2019-01-13 48.84141...,2019-01-06 41.849666 2019-01-13 45.12622...,2019-01-06 49.197095 2019-01-13 52.90057...
30,AU,Mode 3,2019-01-06 664.213739 2019-01-13 614.035...,2019-01-06 602.690252 2019-01-13 556.558...,2019-01-06 732.889023 2019-01-13 678.235...
31,AU,Mode 4,2019-01-06 118.853240 2019-01-13 102.291...,2019-01-06 110.250591 2019-01-13 94.805...,2019-01-06 128.240310 2019-01-13 110.463...
32,NG,Mode 1,2019-01-06 107.787869 2019-01-13 82.290...,2019-01-06 100.035999 2019-01-13 75.984...,2019-01-06 116.230330 2019-01-13 89.174...
33,NG,Mode 2,2019-01-06 0.577508 2019-01-13 2.243161 ...,2019-01-06 0.551457 2019-01-13 2.132528 ...,2019-01-06 0.658767 2019-01-13 2.364322 ...
34,NG,Mode 3,2019-01-06 26.243203 2019-01-13 35.17983...,2019-01-06 24.371469 2019-01-13 32.85836...,2019-01-06 28.291489 2019-01-13 37.71064...
35,NG,Mode 4,2019-01-06 5.076190 2019-01-13 2.666667 ...,2019-01-06 4.835142 2019-01-13 2.493650 ...,2019-01-06 5.329649 2019-01-13 2.863915 ...
36,KE,Mode 1,2019-01-06 157.612461 2019-01-13 138.377...,2019-01-06 142.558861 2019-01-13 125.126...,2019-01-06 174.367255 2019-01-13 153.132...
37,KE,Mode 2,2019-01-06 0.925926 2019-01-13 1.851852 ...,2019-01-06 0.863201 2019-01-13 1.726403 ...,2019-01-06 1.036889 2019-01-13 1.989081 ...
38,KE,Mode 3,2019-01-06 50.911320 2019-01-13 53.50689...,2019-01-06 47.048242 2019-01-13 49.42565...,2019-01-06 55.185319 2019-01-13 57.97774...
39,KE,Mode 4,2019-01-06 1.881963 2019-01-13 0.94098...,2019-01-06 1.774169 2019-01-13 0.86433...,2019-01-06 2.075253 2019-01-13 1.10164...
40,JP,Mode 1,2019-01-06 2074.416832 2019-01-13 2145.8...,2019-01-06 1851.495856 2019-01-13 1915.8...,2019-01-06 2327.718670 2019-01-13 2407.1...
41,JP,Mode 2,2019-01-06 77.082039 2019-01-13 74.000...,2019-01-06 63.107647 2019-01-13 60.247...,2019-01-06 93.379257 2019-01-13 90.056...
42,JP,Mode 3,2019-01-06 1109.923865 2019-01-13 1215.5...,2019-01-06 991.102229 2019-01-13 1086.4...,2019-01-06 1244.578868 2019-01-13 1361.6...
43,JP,Mode 4,2019-01-06 32.268282 2019-01-13 31.31362...,2019-01-06 30.168351 2019-01-13 29.26266...,2019-01-06 34.528981 2019-01-13 33.52197...
44,MX,Mode 1,2019-01-06 325.637371 2019-01-13 332.168...,2019-01-06 279.200080 2019-01-13 284.935...,2019-01-06 383.848834 2019-01-13 391.357...
45,MX,Mode 2,2019-01-06 0.632269 2019-01-13 0.951765 ...,2019-01-06 0.609825 2019-01-13 0.927949 ...,2019-01-06 0.654968 2019-01-13 0.975855 ...
46,MX,Mode 3,2019-01-06 265.728587 2019-01-13 294.505...,2019-01-06 229.539072 2019-01-13 254.552...,2019-01-06 310.896612 2019-01-13 344.360...
47,MX,Mode 4,2019-01-06 2.420513 2019-01-13 1.935043 ...,2019-01-06 2.367784 2019-01-13 1.888162 ...,2019-01-06 2.474537 2019-01-13 1.983073 ...
48,BR,Mode 1,2019-01-06 4780.814716 2019-01-13 4855.7...,2019-01-06 4160.778947 2019-01-13 4226.5...,2019-01-06 5530.607139 2019-01-13 5616.7...
49,BR,Mode 2,2019-01-06 25.513944 2019-01-13 13.44275...,2019-01-06 22.084397 2019-01-13 11.02826...,2019-01-06 29.444420 2019-01-13 16.23802...
50,BR,Mode 3,2019-01-06 2489.757519 2019-01-13 2342.7...,2019-01-06 2154.009820 2019-01-13 2025.2...,2019-01-06 2885.138156 2019-01-13 2716.8...
51,BR,Mode 4,2019-01-06 227.655588 2019-01-13 195.039...,2019-01-06 206.153243 2019-01-13 176.136...,2019-01-06 251.873459 2019-01-13 216.361...
52,IN,Mode 1,2019-01-06 2474.158690 2019-01-13 2356.1...,2019-01-06 2134.580053 2019-01-13 2030.5...,2019-01-06 2871.550520 2019-01-13 2737.4...
53,IN,Mode 2,2019-01-06 50.569495 2019-01-13 57.18314...,2019-01-06 46.265850 2019-01-13 52.47635...,2019-01-06 55.318640 2019-01-13 62.35978...
54,IN,Mode 3,2019-01-06 1734.046671 2019-01-13 1646.4...,2019-01-06 1544.456702 2019-01-13 1465.7...,2019-01-06 1949.831717 2019-01-13 1852.2...
55,IN,Mode 4,2019-01-06 256.524726 2019-01-13 214.921...,2019-01-06 231.771896 2019-01-13 193.141...,2019-01-06 284.193681 2019-01-13 239.332...
56,DK,Mode 1,2019-01-06 260.163109 2019-01-13 247.014...,2019-01-06 236.562795 2019-01-13 224.419...,2019-01-06 287.803719 2019-01-13 273.491...
57,DK,Mode 2,2019-01-06 12.592569 2019-01-13 11.75821...,2019-01-06 11.158423 2019-01-13 10.38389...,2019-01-06 14.192937 2019-01-13 13.29322...
58,DK,Mode 3,2019-01-06 280.023688 2019-01-13 272.487...,2019-01-06 255.051273 2019-01-13 247.970...,2019-01-06 307.901063 2019-01-13 299.846...
59,DK,Mode 4,2019-01-06 5.752980 2019-01-13 7.722721 ...,2019-01-06 5.489102 2019-01-13 7.409191 ...,2019-01-06 6.029313 2019-01-13 8.050603 ...

In [25]:
country_totals = []

for c,gr in df_agg.groupby('country'):
    entry = {}
    entry['country'] = c
    entry['total'] = gr['volume_total'].sum()
    country_totals.append(entry)

In [26]:
country_totals = pd.DataFrame((country_totals))

In [27]:
country_totals

   country                                              total
0       AU  2019-01-06    1662.694431
2019-01-13    1543.3...
1       BR  2019-01-06     7523.741768
2019-01-13     7406...
2       CA  2019-01-06    1494.861051
2019-01-13    1495.4...
3       DE  2019-01-06    1134.265104
2019-01-13    1135.9...
4       DK  2019-01-06    558.532346
2019-01-13    538.982...
5       ES  2019-01-06    2526.470255
2019-01-13    2529.1...
6       FR  2019-01-06    4222.389441
2019-01-13    4316.0...
7       GB  2019-01-06    1308.127730
2019-01-13    1291.9...
8       IN  2019-01-06    4515.299582
2019-01-13    4274.7...
9       IT  2019-01-06    1615.021277
2019-01-13    1655.6...
10      JP  2019-01-06    3293.691018
2019-01-13    3466.6...
11      KE  2019-01-06    211.331671
2019-01-13    194.677...
12      MX  2019-01-06    594.418740
2019-01-13    629.560...
13      NG  2019-01-06    139.684771
2019-01-13    122.380...
14      US  2019-01-06    1825.007489
2019-01-13    1834.7...

In [28]:
entry_list = []

for country_code in selected_codes:
    for category in categories:
        entry = {}
        
        df_temp = df.loc[(df['country_code']==country_code) & (df['category']==category)]
        entry['country'] = country_code
        entry['category'] = category
        
        entry['volume_weekly_total'] = df_temp['ts'].apply(lambda x: pd.Series(x['max_ratio'])).sum()
        entry['volume_weekly_total_l'] = df_temp['ts'].apply(lambda x: pd.Series(x['max_ratio_lo'])).sum()
        entry['volume_weekly_total_h'] = df_temp['ts'].apply(lambda x: pd.Series(x['max_ratio_hi'])).sum()
        
        entry['volume_percent_weekly_total'] = df_temp['ts'].apply(lambda x: pd.Series(x['max_ratio'])).sum() / \
                country_totals.loc[(country_totals['country']==country_code)].iloc[0]['total']
        
        entry_list.append(entry)

In [29]:
df_agg = pd.DataFrame(entry_list)

In [38]:
df_agg = df_agg.loc[df_agg['country'].isin(['FR','DE','US','IT','CA','GB','ES','AU','MX','BR','IN','DK'])].\
        reset_index(drop = True)

In [41]:
df_agg

,country,category,volume_weekly_total,volume_weekly_total_l,volume_weekly_total_h,volume_percent_weekly_total
0,FR,Mode 1,2019-01-06 2785.960793 2019-01-13 2773.5...,2019-01-06 2458.715557 2019-01-13 2448.5...,2019-01-06 3160.899878 2019-01-13 3145.9...,2019-01-06 0.659807 2019-01-13 0.642624 ...
1,FR,Mode 2,2019-01-06 3.640363 2019-01-13 3.91838...,2019-01-06 3.399005 2019-01-13 3.66225...,2019-01-06 3.920400 2019-01-13 4.19104...,2019-01-06 0.000862 2019-01-13 0.000908 ...
2,FR,Mode 3,2019-01-06 1422.335594 2019-01-13 1525.7...,2019-01-06 1257.986565 2019-01-13 1350.5...,2019-01-06 1610.285529 2019-01-13 1726.1...,2019-01-06 0.336856 2019-01-13 0.353518 ...
3,FR,Mode 4,2019-01-06 10.452691 2019-01-13 12.73262...,2019-01-06 8.503778 2019-01-13 10.65624...,2019-01-06 12.645970 2019-01-13 15.06377...,2019-01-06 0.002476 2019-01-13 0.002950 ...
4,DE,Mode 1,2019-01-06 639.344263 2019-01-13 624.6...,2019-01-06 577.355549 2019-01-13 563.9...,2019-01-06 708.781324 2019-01-13 692.6...,2019-01-06 0.563664 2019-01-13 0.549868 ...
5,DE,Mode 2,2019-01-06 5.845501 2019-01-13 5.93010...,2019-01-06 5.458692 2019-01-13 5.54840...,2019-01-06 6.257302 2019-01-13 6.33646...,2019-01-06 0.005154 2019-01-13 0.005220 ...
6,DE,Mode 3,2019-01-06 482.106699 2019-01-13 497.390...,2019-01-06 435.653090 2019-01-13 449.706...,2019-01-06 534.205604 2019-01-13 550.841...,2019-01-06 0.425039 2019-01-13 0.437857 ...
7,DE,Mode 4,2019-01-06 6.968641 2019-01-13 8.01393...,2019-01-06 6.452518 2019-01-13 7.45810...,2019-01-06 7.519291 2019-01-13 8.60641...,2019-01-06 0.006144 2019-01-13 0.007055 ...
8,US,Mode 1,2019-01-06 1024.325276 2019-01-13 1035.2...,2019-01-06 919.558903 2019-01-13 929.4...,2019-01-06 1142.404042 2019-01-13 1154.4...,2019-01-06 0.561272 2019-01-13 0.564239 ...
9,US,Mode 2,2019-01-06 28.183634 2019-01-13 26.82762...,2019-01-06 26.311899 2019-01-13 25.01567...,2019-01-06 30.207382 2019-01-13 28.78782...,2019-01-06 0.015443 2019-01-13 0.014622 ...
10,US,Mode 3,2019-01-06 700.676756 2019-01-13 699.317...,2019-01-06 631.424154 2019-01-13 630.166...,2019-01-06 778.562137 2019-01-13 777.091...,2019-01-06 0.383931 2019-01-13 0.381158 ...
11,US,Mode 4,2019-01-06 71.821822 2019-01-13 73.35390...,2019-01-06 66.192107 2019-01-13 67.61455...,2019-01-06 77.991383 2019-01-13 79.64312...,2019-01-06 0.039354 2019-01-13 0.039981 ...
12,IT,Mode 1,2019-01-06 866.469399 2019-01-13 842.1...,2019-01-06 774.697268 2019-01-13 752.7...,2019-01-06 970.401484 2019-01-13 943.5...,2019-01-06 0.536506 2019-01-13 0.508676 ...
13,IT,Mode 2,2019-01-06 24.724941 2019-01-13 29.92697...,2019-01-06 22.124469 2019-01-13 27.08380...,2019-01-06 27.595398 2019-01-13 33.05595...,2019-01-06 0.015309 2019-01-13 0.018076 ...
14,IT,Mode 3,2019-01-06 709.337499 2019-01-13 768.938...,2019-01-06 632.396519 2019-01-13 686.536...,2019-01-06 796.691607 2019-01-13 862.400...,2019-01-06 0.439212 2019-01-13 0.464431 ...
15,IT,Mode 4,2019-01-06 14.489438 2019-01-13 14.59838...,2019-01-06 13.257144 2019-01-13 13.33967...,2019-01-06 15.827561 2019-01-13 15.96573...,2019-01-06 0.008972 2019-01-13 0.008817 ...
16,CA,Mode 1,2019-01-06 947.415327 2019-01-13 951.5...,2019-01-06 853.705882 2019-01-13 857.6...,2019-01-06 1053.191284 2019-01-13 1057.5...,2019-01-06 0.633782 2019-01-13 0.636300 ...
17,CA,Mode 2,2019-01-06 17.097517 2019-01-13 14.38430...,2019-01-06 15.849656 2019-01-13 13.28283...,2019-01-06 18.459019 2019-01-13 15.58716...,2019-01-06 0.011438 2019-01-13 0.009619 ...
18,CA,Mode 3,2019-01-06 491.896929 2019-01-13 495.109...,2019-01-06 441.875061 2019-01-13 444.873...,2019-01-06 548.583301 2019-01-13 552.029...,2019-01-06 0.329059 2019-01-13 0.331079 ...
19,CA,Mode 4,2019-01-06 38.451278 2019-01-13 34.39928...,2019-01-06 34.941987 2019-01-13 31.16066...,2019-01-06 42.349841 2019-01-13 38.00107...,2019-01-06 0.025722 2019-01-13 0.023003 ...
20,GB,Mode 1,2019-01-06 791.136860 2019-01-13 778.1...,2019-01-06 707.297678 2019-01-13 695.4...,2019-01-06 885.794265 2019-01-13 871.5...,2019-01-06 0.604786 2019-01-13 0.602301 ...
21,GB,Mode 2,2019-01-06 59.873631 2019-01-13 61.345...,2019-01-06 54.508591 2019-01-13 55.880...,2019-01-06 65.785395 2019-01-13 67.366...,2019-01-06 0.045770 2019-01-13 0.047483 ...
22,GB,Mode 3,2019-01-06 421.370385 2019-01-13 421.909...,2019-01-06 379.691769 2019-01-13 380.255...,2019-01-06 468.193852 2019-01-13 468.704...,2019-01-06 0.322117 2019-01-13 0.326569 ...
23,GB,Mode 4,2019-01-06 35.746854 2019-01-13 30.55071...,2019-01-06 32.073919 2019-01-13 27.24001...,2019-01-06 39.825236 2019-01-13 34.23397...,2019-01-06 0.027327 2019-01-13 0.023647 ...
24,ES,Mode 1,2019-01-06 1102.979147 2019-01-13 1120.8...,2019-01-06 975.474300 2019-01-13 991.1...,2019-01-06 1249.141165 2019-01-13 1269.4...,2019-01-06 0.436569 2019-01-13 0.443163 ...
25,ES,Mode 2,2019-01-06 17.177565 2019-01-13 11.56301...,2019-01-06 16.034399 2019-01-13 10.75779...,2019-01-06 18.415750 2019-01-13 12.44350...,2019-01-06 0.006799 2019-01-13 0.004572 ...
26,ES,Mode 3,2019-01-06 1389.639558 2019-01-13 1379.2...,2019-01-06 1233.369674 2019-01-13 1224.5...,2019-01-06 1568.410471 2019-01-13 1556.2...,2019-01-06 0.550032 2019-01-13 0.545355 ...
27,ES,Mode 4,2019-01-06 16.673985 2019-01-13 17.47495...,2019-01-06 15.662985 2019-01-13 16.40687...,2019-01-06 17.760311 2019-01-13 18.62330...,2019-01-06 0.006600 2019-01-13 0.006909 ...
28,AU,Mode 1,2019-01-06 834.267876 2019-01-13 778.2...,2019-01-06 753.795473 2019-01-13 702.4...,2019-01-06 924.398099 2019-01-13 863.0...,2019-01-06 0.501757 2019-01-13 0.504225 ...
29,AU,Mode 2,2019-01-06 45.359576 2019-01-13 48.84141...,2019-01-06 41.849666 2019-01-13 45.12622...,2019-01-06 49.197095 2019-01-13 52.90057...,2019-01-06 0.027281 2019-01-13 0.031646 ...
30,AU,Mode 3,2019-01-06 664.213739 2019-01-13 614.035...,2019-01-06 602.690252 2019-01-13 556.558...,2019-01-06 732.889023 2019-01-13 678.235...,2019-01-06 0.399480 2019-01-13 0.397851 ...
31,AU,Mode 4,2019-01-06 118.853240 2019-01-13 102.291...,2019-01-06 110.250591 2019-01-13 94.805...,2019-01-06 128.240310 2019-01-13 110.463...,2019-01-06 0.071482 2019-01-13 0.066277 ...
32,MX,Mode 1,2019-01-06 325.637371 2019-01-13 332.168...,2019-01-06 279.200080 2019-01-13 284.935...,2019-01-06 383.848834 2019-01-13 391.357...,2019-01-06 0.547825 2019-01-13 0.527619 ...
33,MX,Mode 2,2019-01-06 0.632269 2019-01-13 0.951765 ...,2019-01-06 0.609825 2019-01-13 0.927949 ...,2019-01-06 0.654968 2019-01-13 0.975855 ...,2019-01-06 0.001064 2019-01-13 0.001512 ...
34,MX,Mode 3,2019-01-06 265.728587 2019-01-13 294.505...,2019-01-06 229.539072 2019-01-13 254.552...,2019-01-06 310.896612 2019-01-13 344.360...,2019-01-06 0.447039 2019-01-13 0.467795 ...
35,MX,Mode 4,2019-01-06 2.420513 2019-01-13 1.935043 ...,2019-01-06 2.367784 2019-01-13 1.888162 ...,2019-01-06 2.474537 2019-01-13 1.983073 ...,2019-01-06 0.004072 2019-01-13 0.003074 ...
36,BR,Mode 1,2019-01-06 4780.814716 2019-01-13 4855.7...,2019-01-06 4160.778947 2019-01-13 4226.5...,2019-01-06 5530.607139 2019-01-13 5616.7...,2019-01-06 0.635430 2019-01-13 0.655567 ...
37,BR,Mode 2,2019-01-06 25.513944 2019-01-13 13.44275...,2019-01-06 22.084397 2019-01-13 11.02826...,2019-01-06 29.444420 2019-01-13 16.23802...,2019-01-06 0.003391 2019-01-13 0.001815 ...
38,BR,Mode 3,2019-01-06 2489.757519 2019-01-13 2342.7...,2019-01-06 2154.009820 2019-01-13 2025.2...,2019-01-06 2885.138156 2019-01-13 2716.8...,2019-01-06 0.330920 2019-01-13 0.316286 ...
39,BR,Mode 4,2019-01-06 227.655588 2019-01-13 195.039...,2019-01-06 206.153243 2019-01-13 176.136...,2019-01-06 251.873459 2019-01-13 216.361...,2019-01-06 0.030258 2019-01-13 0.026332 ...
40,IN,Mode 1,2019-01-06 2474.158690 2019-01-13 2356.1...,2019-01-06 2134.580053 2019-01-13 2030.5...,2019-01-06 2871.550520 2019-01-13 2737.4...,2019-01-06 0.547950 2019-01-13 0.551184 ...
41,IN,Mode 2,2019-01-06 50.569495 2019-01-13 57.18314...,2019-01-06 46.265850 2019-01-13 52.47635...,2019-01-06 55.318640 2019-01-13 62.35978...,2019-01-06 0.011200 2019-01-13 0.013377 ...
42,IN,Mode 3,2019-01-06 1734.046671 2019-01-13 1646.4...,2019-01-06 1544.456702 2019-01-13 1465.7...,2019-01-06 1949.831717 2019-01-13 1852.2...,2019-01-06 0.384038 2019-01-13 0.385163 ...
43,IN,Mode 4,2019-01-06 256.524726 2019-01-13 214.921...,2019-01-06 231.771896 2019-01-13 193.141...,2019-01-06 284.193681 2019-01-13 239.332...,2019-01-06 0.056812 2019-01-13 0.050277 ...
44,DK,Mode 1,2019-01-06 260.163109 2019-01-13 247.014...,2019-01-06 236.562795 2019-01-13 224.419...,2019-01-06 287.803719 2019-01-13 273.491...,2019-01-06 0.465798 2019-01-13 0.458297 ...
45,DK,Mode 2,2019-01-06 12.592569 2019-01-13 11.75821...,2019-01-06 11.158423 2019-01-13 10.38389...,2019-01-06 14.192937 2019-01-13 13.29322...,2019-01-06 0.022546 2019-01-13 0.021816 ...
46,DK,Mode 3,2019-01-06 280.023688 2019-01-13 272.487...,2019-01-06 255.051273 2019-01-13 247.970...,2019-01-06 307.901063 2019-01-13 299.846...,2019-01-06 0.501356 2019-01-13 0.505559 ...
47,DK,Mode 4,2019-01-06 5.752980 2019-01-13 7.722721 ...,2019-01-06 5.489102 2019-01-13 7.409191 ...,2019-01-06 6.029313 2019-01-13 8.050603 ...,2019-01-06 0.010300 2019-01-13 0.014328 ...

In [42]:
df_agg.to_pickle(DATA_DIR+'modes_coarse.pickle')